img {
  width: 100px;
  border-radius: 50px;
}



.proyectos {
  width: 65vw;
  margin: auto;
  }

.proyectos .cajas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}

.proyectos .cajas div {
  width: 48%;
}

.tecnologias {

  width: 65vw;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border: 2px solid blue;
  gap: 2.5%;
}

.titulo {
    /* row-start/column-start / row-final/column-final */
  grid-area: 1/1 /2/4;
}

.tecCaja{
  color: black;
  background-color: rgb(243, 243, 243);
  height: 16vh;
  border-radius: 5px;
  border: solid 2px rgba(65, 18, 109, 0.404);

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.tecCaja .icon{
  
  width: 8vw;
  border: 0px;
}
