<body>
    <aside>
        <img src="http://github.com/ealejand1.png" alt="Foto Perfil Github">
    </aside>
    <main>
        <article>
            <p>Buenas soy Erik Alejandro, programador FullStack Junior. Persona atenta y con mucha curiosidad de seguir aprendiendo cada dia y aportando soluciones.</p>
        </article>

        <section>
            <h2>Proyectos</h2>
            <!-- Poner los proyectos que he hecho con flex -->
        </section>

        <section>
            <h2>Tecnologias</h2>
            <!-- Poner todas las tecnologias -->
        </section>
    </main>
</body>