<body>
  <aside>
    <img src="http://github.com/ealejand1.png" alt="Foto Perfil Github" />
  </aside>
  <main>
    <article>
      <p>
        Buenas soy Erik Alejandro, programador FullStack Junior. Persona atenta
        y con mucha curiosidad de seguir aprendiendo cada dia y aportando
        soluciones.
      </p>
    </article>

    <section class="proyectos">
      <h2>Proyectos</h2>
      <section class="proyectos cajas">
        <div>
          <h3>Proyecto 1</h3>
          <div>Descripcion del Proyecto 1</div>
          <div>Etiquetas Tecnologias</div>
          <img src="" alt="Imagen del proyecto">
        </div>

        <div>
            <h3>Proyecto 2</h3>
            <div>Descripcion del Proyecto 2</div>
            <div>Etiquetas Tecnologias</div>
            <img src="" alt="Imagen del proyecto">
        </div>

        <div>
            <h3>Proyecto 3</h3>
            <div>Descripcion del Proyecto 3</div>
            <div>Etiquetas Tecnologias</div>
            <img src="" alt="Imagen del proyecto">
        </div>

        <div>
            <h3>Proyecto 4</h3>
            <div>Descripcion del Proyecto 4</div>
            <div>Etiquetas Tecnologias</div>
            <img src="" alt="Imagen del proyecto">
        </div>

      </section>
      <!-- Poner los proyectos que he hecho con flex -->
    </section>

    <section class="tecnologias">
      <h2 class="titulo">Tecnologias</h2>
      <!-- Poner todas las tecnologias con Grid-->
       <div>
        Javascript
        <img src="" alt="">
       </div>

       <div>
        Typescript
        <img src="" alt="">
       </div>

       <div>
        Angular
        <img src="" alt="">
       </div>

       <div>
        Vue
        <img src="" alt="">
       </div>

       <div>
        Java
        <img src="" alt="">
       </div>

       <div>
        SpringBoot
        <img src="" alt="">
       </div>

       <div>
        MySQL
        <img src="" alt="">
       </div>

       <div>
        PHP
        <img src="" alt="">
       </div>

       <div>
        Bash
        <img src="" alt="">
       </div>

       <div>
        Git
        <img src="" alt="">
       </div>


    </section>
  </main>
</body>
