<body>
  <aside>
    <img src="http://github.com/ealejand1.png" alt="Foto Perfil Github" />
  </aside>
  <main>
    <article>
      <p>
        Buenas soy Erik Alejandro, programador FullStack Junior. Persona atenta
        y con mucha curiosidad de seguir aprendiendo cada dia y aportando
        soluciones.
      </p>
    </article>

    <section class="proyectos">
      <h2>Proyectos</h2>
      <section class="cajas">
        <div>
          <h3>Proyecto 1</h3>
          <div>Descripcion del Proyecto 1</div>
          <div>Etiquetas Tecnologias</div>
          <img src="" alt="Imagen del proyecto">
        </div>

        <div>
            <h3>Proyecto 2</h3>
            <div>Descripcion del Proyecto 2</div>
            <div>Etiquetas Tecnologias</div>
            <img src="" alt="Imagen del proyecto">
        </div>

        <div>
            <h3>Proyecto 3</h3>
            <div>Descripcion del Proyecto 3</div>
            <div>Etiquetas Tecnologias</div>
            <img src="" alt="Imagen del proyecto">
        </div>

        <div>
            <h3>Proyecto 4</h3>
            <div>Descripcion del Proyecto 4</div>
            <div>Etiquetas Tecnologias</div>
            <img src="" alt="Imagen del proyecto">
        </div>

      </section>
      <!-- Poner los proyectos que he hecho con flex -->
    </section>

    <section class="tecnologias">
      <h2 class="titulo">Tecnologias</h2>
      <!-- Poner todas las tecnologias con Grid-->
       <div class="tecCaja">
        Javascript
        <img class="tecCaja icon" src="images/js.svg" alt="javascript image">
       </div>

       <div class="tecCaja">
        Typescript
        <img class="tecCaja icon" src="images/ts.svg" alt="">
       </div>

       <div class="tecCaja">
        
        <img class="tecCaja icon" src="images/angular.svg" alt="">
      </div>

       <div class="tecCaja">
        Vue
        <img class="tecCaja icon" src="images/vue.svg" alt="">
       </div>

       <div class="tecCaja">
        Java
        <img class="tecCaja icon" src="images/java.svg" alt="">
       </div>

       <div class="tecCaja">
        SpringBoot
        <img class="tecCaja icon" src="images/sts.svg" alt="">
       </div>

       <div class="tecCaja">
        MySQL
        <img class="tecCaja icon" src="images/mysql.svg" alt="">
       </div>

       <div class="tecCaja">
        PHP
        <img class="tecCaja icon" src="images/php.svg" alt="">
       </div>

       <div class="tecCaja">
        Bash
        <img class="tecCaja icon" src="images/bash.svg" alt="">
       </div>

       <div class="tecCaja">
        Git
        <img class="tecCaja icon" src="images/github.svg" alt="">
       </div>


    </section>
  </main>
</body>
